@tailwind base;
@tailwind components;
@tailwind utilities;



.borda-blue {
    border: 1px solid blue
  }
  
  .borda-black {
    border: 1px solid black
  }
  
  .borda-red {
    border: 1px solid red
  }
  
  .borda-green {
    border: 1px solid green
  }
  